:root {
  --main-color: #212121;
  --highlight-color: #2196f3;
  --aux-text-color: #757575;
  --background-color: #2f303a;
  --hero-footer-text-color: #fff;
  --filter-button-background-color: #f5f4fa;
  --order-button-hover-focus: #188ce8;
  --advantages-icon-background-color: #f5f4fa;
  --icon-client-social: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
}

.heading {
  margin: 0;
}

ul {
  margin: 0;
}

.section {
  padding: 94px 0;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.social-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 44px;
  column-gap: 10px;
}

.social-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-link:hover, .social-link:focus, .social-link:active {
  background-color: #188ce8;
}

.social-link:hover .social-icon, .social-link:focus .social-icon, .social-link:active .social-icon {
  fill: var(--advantages-icon-background-color);
}

.social-icon {
  width: 22px;
  height: 22px;
  fill: var(--icon-client-social);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.top-logo,
.bottom-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--highlight-color);
}

.top-logo {
  margin-right: 93px;
}

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.top-logo {
  display: inline-block;
  padding: 0;
}

.header,
.navigation,
.top-contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list-link {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  height: 100%;
}

.nav-list-link:hover, .nav-list-link:focus, .nav-list-link:active {
  color: var(--highlight-color);
}

.nav-list-link.current {
  color: var(--highlight-color);
}

.nav-list-link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}

.nav-list-link,
.top-mail,
.top-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.top-contacts {
  margin-left: auto;
  column-gap: 50px;
}

.navigation {
  column-gap: 50px;
}

.top-tel,
.top-mail {
  color: var(--aux-text-color);
  display: flex;
  align-items: center;
}

.header .logo-span {
  color: var(--main-color);
}

.contact:hover, .contact:focus, .contact:active {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contact:hover .contact-icon, .contact:focus .contact-icon, .contact:active .contact-icon {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contact-icon {
  margin-right: 10px;
  fill: var(--aux-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-div {
  margin-bottom: 50px;
}

.filter-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.filter-title {
  display: none;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  background-color: var(--filter-button-background-color);
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid var(--filter-button-background-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus, .filter-button:active {
  background-color: var(--highlight-color);
  color: var(--hero-footer-text-color);
  border: 1px solid var(--highlight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* credentials */
.credential-link {
  display: block;
}

.credential-link:hover, .credential-link:focus, .credential-link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.credential-link:hover .pop-text, .credential-link:focus .pop-text, .credential-link:active .pop-text {
  transform: translateY(0);
}

.credential-image {
  display: block;
}

.credential-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.credential-pop {
  position: relative;
  overflow: hidden;
}

.pop-text {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin-top: 0;
  background-color: var(--highlight-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--advantages-icon-background-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.credential-item-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--aux-text-color);
  margin: 0;
}

.credentials-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.credential-item-text {
  display: block;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo-span {
  color: var(--hero-footer-text-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-icon {
  margin-left: 70px;
}

.bottom-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.office-address {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-footer-text-color);
  margin-bottom: 10px;
}

.bottom-contacts-item {
  margin-bottom: 10px;
}

.bottom-contacts-item:last-child {
  margin-bottom: 0;
}

.bottom-mail,
.bottom-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-footer-text-color);
  opacity: 0.6;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-mail:hover,
.bottom-tel:hover {
  color: var(--highlight-color);
  opacity: 0.6;
}

.join {
  color: var(--advantages-icon-background-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-link-icon {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover, .footer-link-icon:focus, .footer-link-icon:active {
  background-color: #188ce8;
}

.footer-icon {
  fill: #fff;
}

.footer-container-subscribe {
  margin-left: 93px;
}

.subscribe-footer-div {
  display: flex;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--highlight-color);
  color: var(--hero-footer-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus, .subscribe-btn:active {
  background-color: var(--order-button-hover-focus);
  border-radius: 4px;
  border: 1px solid var(--highlight-color);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--advantages-icon-background-color);
  cursor: pointer;
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--highlight-color);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--advantages-icon-background-color);
}
/*# sourceMappingURL=portfolio.css.map */