.advantages-section {
    @extend .section;
}

.advantages-section__title {
    @extend .heading;
}

.advantages-section-list {
    @extend .list;
    display: flex;
    column-gap: 30px;
}

.advantages-section__item {
    width: 270px;
}

.advantages-section__item-title {
    @extend .heading;
    @include font(14px, 700, 1.19, 00.03em);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages-section__item-description {
    @include font(14px, 400, 1.71, 0.03em);
    color: var(--aux-text-color);
    margin: 0;
}

.advantages-section__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--filter-button-background-color);
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;
}

.advantages-section__icon {    
    @include icon-size(70px, 70px);
}
