.clients-section {
    @extend .section;
}

.clients-section__title {
    @extend .section-title;
}

.clients-section-list {
    @extend .list;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

.client-section__link {
    @extend .link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-client-social);
    box-sizing: border-box;
    border-radius: 4px;
    @extend %link-transition;

    &:hover, 
    &:active, 
    &:focus {
        border-color: var(--highlight-color);
        fill: var(--highlight-color);
    }
}

.client-logo {
    @include icon-size(106px, 60px);
    fill: var(--icon-client-social);
    @extend %icon-transition;

        .client-section__link:hover & {
            border-color: var(--highlight-color);
            fill: var(--highlight-color);
        }
        .client-section__link:focus & {
            border-color: var(--highlight-color);
            fill: var(--highlight-color);
        }
        .client-section__link:active & {
            border-color: var(--highlight-color);
            fill: var(--highlight-color);
        }
}